.list-item {
  width: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
  background: #fff;
  position: relative;
  padding: 1rem;
  box-sizing: border-box;
  margin: 1rem 0;
}
.list-item_author {
  position: relative;
}
.list-item_author-content {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.list-item_author-input {
  opacity: 0;
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.list-item.editable  .list-item_text-input {
  opacity: 1;
}
