@import'../node_modules/materialize-css/bin/materialize.css';

list,
list-head,
list-item
    display table
    width 100%

list-head
    border 1px solid blue


list
    border 10px solid green
.list
    &-container
        max-width 560px
        width 90%
        margin 0 auto
    &__item
        width 100%
        display table
        transition transform 1s ease-out, opacity 0.3s ease-out
        position relative


    &__item.ng-enter,
    &__item
        &.ng-leave.ng-leave-active
            opacity 0
            transform scale(0.3)


    &__item.ng-enter.ng-enter-active,
    &__item.ng-move,
    &__item.ng-leave
        opacity 1
        transform scale(1.1)


    &__todo_item__title
        transition background 0.5s


.painted
    background red

